.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --detail-medium-contrast: rgb(25, 25, 25);
  --text-high-contrast-rgb-value: rgb(230, 230, 230);
  --text-body: rgb(222, 222, 222);
}
.embla__viewport {
  overflow: hidden;
  position: relative;

  @media (max-width: 750px) {
    height: 22rem;
  }
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);

  @media (max-width: 750px) {
    height: 100%;
    position: relative;
    margin-left: 0;
  }
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  overflow: hidden;

  &::before {
    content: "";
    background: linear-gradient(
      0deg,
      var(--background) 10%,
      rgba(#161616, 0.5) 75%,
      var(--background) 100%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.embla__slide__img__container {
  width: 100%;
  height: 100%;
}

.embla__slide__img {
  @media (max-width: 750px) {
    height: 100%;
    max-width: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.embla__controls {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0%;
  top: unset;
}

.embla__button {
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 0 2rem;
}
.embla__dot {
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  min-width: unset;
  border-radius: 50%;
  @media (max-width: 500px) {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.embla__dot--selected {
  background-color: #0891b2;
}

.embla__slide__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  padding-left: 8%;
  padding-top: 20%;

  @media (max-width: 1200px) {
    padding-top: 15%;
  }
}

.embla__slide__title {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  max-width: 55%;
  letter-spacing: -2.5px;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 4rem;
  @media (max-width: 500px) {
    max-width: 98%;
    line-height: 3rem;
  }
}

.embla__slide__genres > span {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Work Sans", sans-serif;
  padding-right: 1rem;
  display: inline-block;

  > span {
    padding-right: 1rem;
  }

  @media (max-width: 500px) {
    padding-right: 0.5rem;

    > span {
      padding-left: 0.5rem;
    }
  }
}

.embla__slide__button {
  padding: 0rem 1rem;
  margin-top: 3rem;

  &--ticket {
    margin-right: 2rem;
  }

  @media (max-width: 900px) {
    margin-top: 1.5rem;
  }
}
